[user]
	name = Thiago Farina
	email = tfransosi@gmail.com

[core]
	deltaBaseCacheLimit = 1G

[alias]
	co  = checkout
	br  = branch
	ci  = commit
	st  = status
	cm  = checkout master
	rbm = rebase master
	bd  = branch -D
        cu  = cl upload --gerrit
        land = cl land
        d   = diff
        sr  = svn rebase
	bl  = blame
	new = !git log $1@{1}..$1@{0} "$@"
	g = grep --break --heading --line-number
        crtr = cl try -r HEAD
        cam = commit -a --amend
        camn = commit -a --amend --no-edit
        cq = cl set-commit

[color]
	branch      = auto
	diff        = auto
	interactive = auto
	status      = auto
	ui          = auto

[diff]
	renames = copies

[credential]
	helper = cache

[http]
	cookiefile = ~/.gitcookies
