[user]
	name = Thiago Farina
	email = tfarina@chromium.org
[core]
	editor = vim
	deltaBaseCacheLimit = 1G
[alias]
	co  = checkout
	br  = branch
	ci  = commit
	st  = status
	cm  = checkout master
	rbm = rebase master
	bd  = branch -D
        cu  = cl upload
        land = cl dcommit
        d   = diff
        sr  = svn rebase
	bl  = blame
	new = !git log $1@{1}..$1@{0} "$@"
	g = grep --break --heading --line-number
        crtr = cl try -r HEAD
        cam = commit -a --amend
[color]
	branch      = auto
	diff        = auto
	interactive = auto
	status      = auto
	ui          = auto
[sendemail]
	smtpserver = /usr/bin/msmtp
	suppresscc = self
[diff]
	renames = copies
