[user]
	name = Thiago Farina
	email = tfarina@chromium.org
[core]
	editor = vim
[alias]
	br  = branch
	co  = checkout
	ci  = commit
        cu  = cl upload
	st  = status
        sr  = svn rebase
	bl  = blame
	new = !git log $1@{1}..$1@{0} "$@"
	cm  = checkout master
	rbm = rebase master
	bd  = branch -D
        d   = diff
        land = cl dcommit
[color]
	branch      = auto
	diff        = auto
	interactive = auto
	status      = auto
	ui          = auto
[sendemail]
	smtpserver = /usr/bin/msmtp
	suppresscc = self
        #tocmd = ~/scripts/to.sh
        #cccmd = ~/scripts/cc.sh
[diff]
	renames = copies
