! https://github.com/Valloric/dotfiles/blob/master/urxvt/Xdefaults
!
! CAREFUL! DO NOT PUT SINGLE OR DOUBLE QUOTES IN COMMENTS!
! You can ensure that your Xresources file parses correctly with:
!   xrdb -n ~/.Xresources 2>&1 >/dev/null
! If that does not show an error, you are good.
!
! RELOADING CONFIGURATION:
! Changing this file will not do anything (even with urxvt restart):
!
! Replace .Xresources:
!   xrdb -load ~/.Xresources
!
! Merge new changes:
!   xrdb -merge ~/.Xresources
!
! You can query the state of loaded config with:
!   xrdb -query

!---------------------------------------------------------------------!
!                         Color scheme                                !
!---------------------------------------------------------------------!
#include ".Xresources.d/themes/basic"


!---------------------------------------------------------------------!
!                         Xft Font Configuration                      !
!---------------------------------------------------------------------!
Xft.dpi:       96 ! xdpyinfo | grep dots
Xft.rgba:      rgb
Xft.autohint:  0
Xft.antialias: 1
Xft.hinting:   1
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault


!---------------------------------------------------------------------!
!                         URxvt Configuration                         !
!---------------------------------------------------------------------!


! Scrollbar
URxvt.scrollstyle: plain

! URLs
URxvt.url-select.autocopy: true
URxvt.url-select.underline: true
URxvt.url-launcher: /usr/bin/firefox
URxvt.matcher.button: 1

! Normal copy-paste keybindings without perls
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard

! Fonts
URxvt.font: xft:Monospace:pixelsize=12

! Fix font space. By default the distance between characters can feel too wide.
! Reduce spacing by one pixel.
! https://wiki.archlinux.org/index.php/Rxvt-unicode#Font_spacing
URxvt.letterSpace: -1
