! https://github.com/Valloric/dotfiles/blob/master/urxvt/Xdefaults
!
! CAREFUL! DO NOT PUT SINGLE OR DOUBLE QUOTES IN COMMENTS!
! You can ensure that your Xresources file parses correctly with:
!   xrdb -n ~/.Xresources 2>&1 >/dev/null
! If that does not show an error, you are good.
!
! RELOADING CONFIGURATION:
! Changing this file will not do anything (even with urxvt restart):
!
! Replace .Xresources:
!   xrdb -load ~/.Xresources
!
! Merge new changes:
!   xrdb -merge ~/.Xresources
!
! You can query the state of loaded config with:
!   xrdb -query

!---------------------------------------------------------------------!
!                         Color scheme                                !
!---------------------------------------------------------------------!
#include ".Xresources.d/themes/basic"


!---------------------------------------------------------------------!
!                         Xft Font Configuration                      !
!---------------------------------------------------------------------!
Xft.dpi:       96 ! xdpyinfo | grep dots
Xft.rgba:      rgb
Xft.autohint:  0
Xft.antialias: 1
Xft.hinting:   1
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault


!---------------------------------------------------------------------!
!                         URxvt Configuration                         !
!---------------------------------------------------------------------!


! Scrollbar
URxvt.scrollstyle: plain

! URLs
URxvt.url-select.autocopy: true
URxvt.url-select.underline: true
URxvt.url-launcher: /usr/bin/firefox
URxvt.matcher.button: 1

! Normal copy-paste keybindings without perls
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard

!https://github.com/Lixxia/dotfiles/blob/master/.Xresources
!URxvt.font:            xft:Monospace:size=10
!URxvt.font:            xft:Iosevka:normal:pixelsize=16
!URxvt.font:            xft:Iosevka:style=Medium:pixelsize=16
!URxvt.boldFont:        xft:Iosevka:bold:pixelsize=16
!URxvt.italicFont:      xft:Iosevka:italic::pixelsize=16
!URxvt.boldItalicFont:  xft:Iosevka:italic::pixelsize=16
!URxvt.font:            xft:DroidSansMono:style=Regular:size=10
!URxvt.font:            xft:Meslo LG M DZ:style=Regular:pixelsize=13
!URxvt.font:            xft:JetBrains Mono:style=Regular:pixelsize=13
!URxvt.font:            xft:FiraCode:style=Regular:pixelsize=13
!URxvt.font:            xft:Hack:style=Regular:pixelsize=13
!URxvt.font:            xft:SF Mono:style=Regular:pixelsize=12
!URxvt.font:            xft:Bitstream Vera Sans Mono:style=Regular:size=10
!URxvt.boldFont:        xft:Bitstream Vera Sans Mono:style=Bold:size=10
!URxvt.italicFont:      xft:Bitstream Vera Sans Mono:style=Italic:size=10
!URxvt.bolditalicFont:  xft:Bitstream Vera Sans Mono:style=BoldItalic:size=10
!URxvt*font:             xft:Liberation Mono:style=Regular:pixelsize=12
!URxvt*boldFont:         xft:Liberation Mono:style=Bold:pixelsize=12
!URxvt*italicFont:      xft:Liberation Mono:style=Italic:pixelsize=12
!URxvt*bolditalicFont:  xft:Liberation Mono:style=BoldItalic:pixelsize=12

URxvt.font:             xft:Monospace:pixelsize=12
URxvt.boldFont:         xft:Monospace:pixelsize=12
URxvt.letterSpace: -1
