! https://github.com/Valloric/dotfiles/blob/master/urxvt/Xdefaults
!
! CAREFUL! DO NOT PUT SINGLE OR DOUBLE QUOTES IN COMMENTS!
! You can ensure that your Xresources file parses correctly with:
!   xrdb -n ~/.Xresources 2>&1 >/dev/null
! If that does not show an error, you are good.
!
! RELOADING CONFIGURATION:
! Changing this file will not do anything (even with urxvt restart):
!
! Replace .Xresources:
!   xrdb -load ~/.Xresources
!
! Merge new changes:
!   xrdb -merge ~/.Xresources
!
! You can query the state of loaded config with:
!   xrdb -query

!---------------------------------------------------------------------!
!                         Color scheme                                !
!---------------------------------------------------------------------!
#include ".Xresources.d/themes/basic"


!---------------------------------------------------------------------!
!                         Xft Font Configuration                      !
!---------------------------------------------------------------------!
#include ".Xresources.d/fonts"


!---------------------------------------------------------------------!
!                         URxvt Configuration                         !
!---------------------------------------------------------------------!
#include ".Xresources.d/urxvt"
